@import '../../../resources/_variables.scss';
@import '../../../resources/_mixins.scss';

.events {
	@include box-sizing(border-box);
	@include box-shadow(0px -10px 20px -5px, rgba($main-color, 0.3));
	margin-top: $small-spacing;
	
	p, span {
		margin: 0;
		padding: 0;
	}
	
	.event {
		display: grid;
		grid-template-columns: 15% 75% 10%;
		padding: $small-spacing;
		
		@for $i from 1 through 3 {
			:nth-child(#{$i}) {
				grid-column: $i;
			}
		}
		
		.date {
			@include vertical-align(top);
			font-size: 14px;
			color: $main-color;
			position: relative;
			
			&:after {
				content: '';
				background-color: $main-color;
				position: absolute;
				top: 0px;
				bottom: 5px;
				right: $small-spacing;
				width: 1px;
				
			}
		}
		
		.data {
			> li {
				> p {
					text-transform: uppercase;
					color: $main-color;
					font-size: 14px;
				}
				
				> ul {
					margin-top: $extra-small-spacing;
					> li {
						margin-left: $small-spacing;
						margin-bottom: $extra-small-spacing;

						> p {
							font-size: 14px;
						}
					}

				}
				
				+ li {
					margin-top: $small-spacing;
				}
			}
		}
		
		.icon {
			text-align: center;
			color: $main-color;
		}
		
	}
	@media screen and (min-width: $tablet-width) {
		width: 50%;
	}
}