@import '../../resources/_variables.scss';
@import '../../resources/_mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.preparation {
  color: $dark-text;
  position: relative;
  overflow: hidden;

  > .image {
    @include aspect-ratio(16, 9);
    background-size: cover;
    background-position: center center;

    &:after {
      @include absolute-fill();
      content: '';
      background-color: rgba($dark-text, 0.65);
    }

    .title {
      @include transform(translateY(-50%));
      color: $soft-gray;
      position: absolute;
      top: 50%;
      width: 90%;
      max-height: 90%;
      left: 5%;
      z-index: 2;
      margin: 0;
      font-size: 26px;
      text-align: center;
      text-transform: uppercase;
      overflow: hidden;
      text-shadow: 0px 2px 3px rgba($dark-text, 0.5);
    }
  }

  .content {
    padding: $small-spacing;

    .how {
      text-align: center;
      font-family: 'Dancing Script';
      font-size: 33px;
      margin: 0;
      color: $main-color;
    }

    .steps {
      margin: $medium-spacing 0;
      font-size: 15px;

      li + li {
        margin-top: $small-spacing;
      }

      span.number {
        @include vertical-align(middle);
        color: $main-color;
        margin-right: $extra-small-spacing;
      }

      span.text {
        font-weight: 100;
      }

      .duration {
        margin: $extra-small-spacing $small-spacing;
        opacity: 0.7;
        font-size: 12px;

        .icon {
          margin-right: $extra-small-spacing;
        }
      }

      .image-step {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-column-gap: $small-spacing;
        grid-row-gap: $small-spacing;

        .image {
          @include aspect-ratio(1, 1);
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }

}