@import '../../resources/_variables.scss';
@import '../../resources/_mixins.scss';

.recipe {

  .image {
    @include aspect-ratio(16, 9);
    background-size: cover;
    background-position: center center;
    
    &:after {
      @include absolute-fill();
      content: '';
      background-color: rgba($dark-text, 0.25);
    }
  }
}