@import '../../resources/_variables.scss';
@import '../../resources/_mixins.scss';

.home {
    overflow: hidden;
    height: 100vh;
    background-color: $main-color;
    position: relative;
    text-align: center;

    .content {
        @include transform(translateY(-50%));
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;

        .title {
            font-weight: 800;
            color: $main-color;
            border-radius: 80% 40%;
            padding: 30px 60px;
            background-color: $accent-color;
            text-transform: uppercase;
            font-size: 22px;
            margin-bottom: 15px;
            position: relative;
            top: -60px;
        }
    }
}