@import '../../resources/_variables.scss';
@import '../../resources/_mixins.scss';

.recipes {
  padding: 15px;
  display: grid;
  grid-template-columns: 12fr;
  grid-gap: $medium-spacing;
  
  > div {
    @include box-shadow(0 0 20px -3px, rgba(0, 0, 0, 0.1));
    @include vertical-align(middle);
    min-width: 0;
    background: white;
    color: $dark-text;
    
    .image {
      @include aspect-ratio(4, 2);
      background-size: cover;
      background-position: center center;
      
      &:after {
        @include absolute-fill();
        content: '';
        background-color: rgba($dark-text, 0.25);
      }
    }
    
    .content {
      padding: $small-spacing;
      
      .name {
        font-size: 18px;
        margin: 0 0 10px 0;
      }
      
      .description {
        margin-bottom: $small-spacing;
        letter-spacing: 0.5px;
        
        p {
          font-weight: 100;
          margin: 0;
          font-size: 14px;
          color: $medium-gray;
          line-height: 1.5;
        }
      }
      
      .tags {
        span {
          font-size: 10px;
          text-transform: uppercase;
          border-radius: 15px;
          padding: 5px 10px;
          
          & + span {
            margin-left: $extra-small-spacing;
          }
          
          &.veggie {
            background-color: #b9dec5;
          }
          
          &.fast {
            background-color: #dac686;
          }
          
          &.cheap {
            background-color: #ebd1ef;
          }
          
          &.gourmet {
            background-color: #cca219;
          }
          
          &.easy {
            background-color: #9ba6e5;
          }
          
          &.untagged {
            background-color: $soft-gray;
          }
        }
      }
      
      .actions {
        margin-top: $small-spacing;
        display: grid;
        align-items: center;
        grid-template-columns: 14fr 1fr;
      }
    }
  }
  
  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 6fr 6fr;
    
    .content {
      .description {
        height: 65px;
        overflow: hidden;
      }
      
      .name {
        @include text-overflow(ellipsis);
      }
    }
  }
  
  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 6fr 6fr 6fr;
  }
}