@import '../../../resources/_variables.scss';
@import '../../../resources/_mixins.scss';

.calendar {
  display: inline-block;
  color: $dark-text;
  width: 100%;
  text-align: center;

  &.popover {
    @include box-shadow(0 5px 10px 0, rgba(0, 0, 0, 0.1));
  }

  .header {
    max-width: 300px;
    margin: auto;

    .selected-year {
      margin-bottom: 0;
      color: $main-color;
    }

    .selected-month, .icon {
      @include vertical-align(middle);
    }

    .selected-month {
      margin: 10px 0;
      font-size: 18px;
      width: 60%;
    }

    .icon {
      cursor: pointer;
      color: $main-color;
    }

  }

  ul.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: $small-spacing;
    margin-bottom :$extra-small-spacing;

    > li {
      color: $main-color;
      font-size: 11px;
    }
  }

  ul.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;

    &:before {
      content: '';
      padding-bottom: 100%;
      grid-row: 1;
      grid-column: 1;
    }

    & > :first-child {
      grid-row: 1;
      grid-column: 1;
    }

    > li {
      position: relative;
      display: grid;
      align-content: center;

      &:before {
        @include transition(background-color 400ms);
        @include absolute-fill(5px);
        content: '';
        border-radius: 25%;
        z-index: -1;
      }

      &:not(.disabled):hover {
        &:before {
          background-color: rgba($main-color, 0.5);
        }
      }

      &.disabled {
        color: $medium-gray;

        &:before {
          background-color: $light-gray;
        }
      }
    }
  }

  @media screen and (min-width: $tablet-width) {
    .weekdays {
      margin-bottom: $small-spacing;
      span {
        font-size: 16px;
      }
    }

    .month span {
      font-size: 18px;
    }
  }
}