@import '../../resources/_variables.scss';
@import '../../resources/_mixins.scss';

.profile {
	margin: $small-spacing;
	
	.header {
		.photo {
			position: relative;
			width: 60px;
			height: 60px;
			border-radius: 100%;
			border: 3px solid rgba($soft-gray, 0.25);
			margin-right: $medium-spacing;
			
			background-image: url('../../resources/images/profile.jpg');
			background-size: 120%;
			background-repeat: no-repeat;
			background-position: center;
			
			&:before {
				content: '';
				@include absolute-fill(-5px);
				z-index: -1;
				border-radius: 100%;
				background-color: rgba($main-color, 0.25);
			}
		}

		> .photo, > .user-info {
			@include vertical-align(middle);

			p {
				margin: 0;
			}
		}
	}
}