@import './resources/_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
    min-width: $phone-width;
    background-color: $light-gray;

    a, a:-webkit-any-link, a:visited, a:focus, a:hover, a:active {
        text-decoration: none;
        color: inherit;
    }
}